<nav class="main-nav" id="mainNav" aria-label="Main navigation">
  <div class="container main-nav-inner">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#top" class="nav-link">Home</a>
      </li>

      <li class="nav-item has-dropdown">
        <a href="#" class="nav-link">About </a>
        <ul class="nav-dropdown">
          <li><a href="/jsm-demo/about/about-us.html">About the Journal</a></li>
          <li><a href="/jsm-demo/about/history.html">History</a></li>
          <li><a href="/jsm-demo/about/governing-institution.html">Governing Institution</a></li>
          <li><a href="/jsm-demo/about/publication-information.html">Publication Information</a></li>
          <li><a href="/jsm-demo/about/open-access.html">Open Access</a></li>
          <li><a href="/jsm-demo/about/journal-statistics.html">Journal Statistics</a></li>
          <li><a href="/jsm-demo/about/contact.html">Contact</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="/jsm-demo/aims-scope.html" class="nav-link">Aims &amp; Scope</a>
      </li>

      <li class="nav-item has-dropdown">
        <a href="#" class="nav-link">Editorial Board</a>
        <ul class="nav-dropdown">
          <li><a href="/jsm-demo/editorial-board/editor-in-chief.html">Editor-in-Chief</a></li>
          <li><a href="/jsm-demo/editorial-board/associate-editors.html">Associate Editors</a></li>
          <li><a href="/jsm-demo/editorial-board/international-editorial-board.html">International Editorial Board</a></li>
          <li><a href="/jsm-demo/editorial-board/editorial-office.html">Editorial Office</a></li>
        </ul>
      </li>

      <li class="nav-item has-dropdown">
        <a href="#" class="nav-link">For Authors </a>
        <ul class="nav-dropdown">
          <li><a href="/jsm-demo/guidelines/for-authors/guide-for-authors.html">Guide for Authors</a></li>
          <li><a href="/jsm-demo/guidelines/for-authors/manuscript-preparation.html">Manuscript Preparation</a></li>
          <li><a href="/jsm-demo/guidelines/for-authors/article-types.html">Article Types</a></li>
          <li><a href="/jsm-demo/guidelines/for-authors/formatting-template.html">Formatting Template</a></li>
          <li><a href="/jsm-demo/guidelines/for-authors/AI-policy.html">AI Policy</a></li>
          <li><a href="/jsm-demo/guidelines/for-authors/data-policy.html">Data Policy</a></li>
          <li><a href="/jsm-demo/guidelines/for-authors/copyright.html">Copyright</a></li>
          <li><a href="/jsm-demo/guidelines/for-authors/APC-policy.html">APC Policy</a></li>
          <li><a href="/jsm-demo/guidelines/for-authors/FAQs.html">FAQs</a></li>
        </ul>
      </li>

      <li class="nav-item has-dropdown">
        <a href="#" class="nav-link">Submission </a>
        <ul class="nav-dropdown">
          <li><a href="#">Submit Online</a></li>
          <li><a href="#">Editorial Workflow</a></li>
          <li><a href="#">Peer Review</a></li>
          <li><a href="#">Track Manuscript</a></li>
        </ul>
      </li>

      <li class="nav-item has-dropdown">
        <a href="#" class="nav-link">Articles </a>
        <ul class="nav-dropdown">
          <li><a href="#online-first">Online First</a></li>
          <li><a href="#latest-articles">Latest Articles</a></li>
          <li><a href="#latest-articles">Most Read</a></li>
          <li><a href="#">Most Cited</a></li>
          <li><a href="#">Browse by Subject</a></li>
          <li><a href="#">Search</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="/jsm-demo/issue.html" class="nav-link">Current Issue</a>
      </li>
      <li class="nav-item">
        <a href="/jsm-demo/archives.html" class="nav-link">Archives</a>
      </li>

      <li class="nav-item has-dropdown">
        <a href="#" class="nav-link">Reviewers</a>
        <ul class="nav-dropdown">
          <li><a href="#">Become a Reviewer</a></li>
          <li><a href="#">Reviewer Guidelines</a></li>
          <li><a href="#">Reviewer Recognition</a></li>
        </ul>
      </li>

      <li class="nav-item has-dropdown">
        <a href="#" class="nav-link">Ethics &amp; Policies </a>
        <ul class="nav-dropdown">
          <li><a href="#">Publication Ethics</a></li>
          <li><a href="#">Editorial Policy</a></li>
          <li><a href="#">Authorship</a></li>
          <li><a href="#">COI</a></li>
          <li><a href="#">AI Policy</a></li>
          <li><a href="#">Plagiarism</a></li>
          <li><a href="#">Corrections</a></li>
          <li><a href="#">Retractions</a></li>
          <li><a href="#">Complaints</a></li>
        </ul>
      </li>
      <li class="nav-item has-dropdown">
        <a href="#" class="nav-link">Indexing </a>
        <ul class="nav-dropdown">
          <li><a href="#">Abstracting & Indexing</a></li>
          <li><a href="#">Journal Metrics</a></li>
          <li><a href="#">DOI</a></li>
          <li><a href="#">Crossref</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="/jsm-demo/notification.html" class="nav-link">Announcements</a>
      </li>

      <li class="nav-item">
        <a href="/jsm-demo/contact.html" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
